h1{
    color: #f5f6fa;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'verdana';
}
td{
    color: #f5f6fa;
    font-size: 30px;
}
html {
    background: url('https://www.icolorpalette.com/download/solidcolorimage/b5651d_solid_color_background_icolorpalette.png');
    background-size: cover;
    background-repeat: no-repeat;
}