h2{
    color: #273c75;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'verdana';
}
html {
    background: url('https://www.gre.ac.uk/__data/assets/image/0025/119653/gre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
